opencv-contrib-python-headless==4.10.0.84
poselib
kornia==0.7.2
tqdm
gdown



torch
numpy
opencv-python
tqdm
kornia==0.7.2
gdown
poselib
pyrealsense2



python3 -m pip uninstall -y opencv-python-headless opencv-contrib-python-headless opencv-python opencv-contrib-python

python3 -m pip install --upgrade pip

python3 -m pip install torch numpy opencv-python tqdm kornia==0.7.2 gdown poselib pyrealsense2
